/*
 HO21 COMMON CSS
 author: san_born@163.com
*/
html,body,div,p,ul,li,p,a,.clear{list-style:none;padding:0;margin:0;border:0;text-decoration:none;font-size:12px;color:#000;}
dl,dt,dd{margin:0;padding:0;}
.left{float:left;}
.right{float:right;}
.clear,#clear{width:0;height:0;font-size:0;clear:both;overflow:hidden;display:block;}
body{background:url(../img/bg.png)}
a{outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
a:focus { outline:0; }
a:hover{ text-decoration:none;}
/*HO21头部文件S*/
div.header
{	
	width:100%;
	padding-top:10px;
	border-bottom:3px solid #fff;background:#91B4D1;display:block;
	position:fixed;top:0;left:0;
	z-index:10000;
}
div.header div.nav
{
	width:980px;
	margin:0 auto;		
}
div.nav a{color:#fff;padding:1px;margin:0 50px;font-size:16x;margin-top:-1px;}
div.nav a:hover{color:white;border-bottom:3px solid red;text-decoration:none;border-radius:3px;}
div.nav a.focus{border-bottom:3px solid red; border-radius:3px;}
/*HO21头部文件E*/
div.links{color:#666;display:block;margin-top:10px;padding:5px;text-align:center;}
/*HO21固定*/
div.right div.footer{position:fixed;bottom:0px;color:#666;}
div.right div.top{width:250px;position:fixed;top:50px;color:#666;overflow:hidden;}
.loding{padding:10px;text-align:center;}