<div class="tags">
<ul>
<li><a href="javascript:;"><span class="tags-bg">&nbsp;</span>搞笑</a></li>
<li><a href="javascript:;"><span class="tags-bg">&nbsp;</span>GIF</a></li>
<li><a href="javascript:;"><span class="tags-bg">&nbsp;</span>设计</a></li>
<li><a href="javascript:;"><span class="tags-bg">&nbsp;</span>阅读</a></li>
<li><a href="javascript:;"><span class="tags-bg">&nbsp;</span>更多标签..</a></li>
</ul>
</div>